$principal-color: #101744;
$second-color: white;
$third-color: #4278AA;
$fourth-color: #D9D9D9;
$fifth-color: #253042;
$sixth-color: #ea2828;
$seventh-color: #2EBD56;
$eight-color: #FF891D;
$ninht-color: #2F4C78;

